section {
    padding: 10rem 12% 2rem;
}

.home {
    position: relative;
    padding: 0;
    width: 100%;
    height: 80vh; /* Chiều cao bằng 60% chiều cao màn hình */
    overflow: hidden;
}

.home-img {
    width: 100%;
    height: 100%;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ, phủ kín, cắt phần dư nếu cần */
    object-position: center; /* Canh giữa ảnh */
    display: block;
}

/* Phần nội dung nằm đè lên ảnh */
.home-content {
    position: absolute;
    top: 35%;
    left: 12%;
    width: 35%;
    color: var(--white-color);
    z-index: 2;
    padding: 1rem 2rem;
    background-color: var(--shadow-color);
    border-radius: 12px;
}

.home-content h1 {
    color: var(--white-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-content h3 {
    color: var(--white-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-content p {
    color: var(--white-color);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.5;
    text-align: justify;
}

.home-content button {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem 0;
    color: white;
    background-color: var(--main-color);
    border-radius: 1rem;
    font-weight: 600;
    transition: .5s ease;
}

.home-content button:hover {
    background-color: var(--second-color);
}

.about {
    display: flex;
    column-gap: 6rem;
    align-items: center;
    background-color: var(--bg-color);
}

.about .about-content {
    width: 55%;
    color: var(--text-color);
}

.about .about-content h1 {
    font-size: 3rem;
    color: var(--text-color);
}

.about .about-content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--text-color);
}

.about .about-content p {
    text-align: justify;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: var(--text-color);
    line-height: 2;
    margin: 1rem 0;
}

.about .about-img {
    width: 45%;
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ, phủ kín, cắt phần dư nếu cần */
    object-position: center; /* Canh giữa ảnh */
    display: block;
    border-radius: 1rem;
}

.about-service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 2rem 0;
}

.about-service button {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    color: var(--text-color);
    border-radius: 1rem;
    border: none;
    transition: background-color 0.5s;
}

.about-service button:hover {
    background-color: var(--main-color);

    a, i{
        color: white;
    }
}

.about-service button a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.about-service button p i {
    font-size: 2.5rem;
    padding-right: .5rem;
}

.product {
    background-color: var(--hover-color);
}

.product .product-content {
    display: flex;
    color: var(--text-color);
}

.product .product-content h3 {
    font-size: 2.5rem;
    margin-right: auto;
    text-align: justify;
}

.product .product-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: justify;
}

.product .product-content p a:hover {
    color: var(--sd-text-color);
}

.product .product-content p a.active {
    color: var(--sd-text-color);
}

.project {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.product .product-show,
.project .project-show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 2.5rem 0;
    color: var(--text-color);
}

.product .product-item,
.project .project-item {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    cursor: pointer;
    transition: .5s ease;
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.product .product-item:hover,
.project .project-item:hover {
    transform: scale(1.02);
}

.product .product-item img,
.project .project-item img {
    width: 100%;
    height: 175px;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.product .product-item h3,
.project .project-item h3 {
    font-size: 2rem;
    padding: 1rem 1.5rem;
}

.product .product-item p,
.project .project-item p {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    text-align: justify;
}

.product .product-item .price {
    font-size: 1.5rem;
}

.product-item .price .product-orgPrice {
    text-decoration: line-through;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-color-blur);
}

.product .product-item .product-item-end {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
}

.product-item .product-item-end button {
    margin-right: auto;
    padding: .5rem 1rem;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: 530;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    transition: .5s ease;
}

.product-item .product-item-end button:hover {
    background-color: var(--second-color);
}

.product-item .product-item-end p {
    padding: .5rem 1rem;
    border: .1rem solid var(--main-color);
    margin-left: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.product-item .product-item-end p:hover {
    background-color: var(--main-color);
}

.project .project-content {
    display: flex;
    align-items: center;
}

.project .project-content h3 {
    margin-right: auto;
    font-size: 2.5rem;
}

.project .project-content a {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--main-color);
    color: #ffffff;
    border: .1rem solid var(--border-color);
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.project .project-content p:hover {
    background-color: var(--second-color);
}

.project-show .project-item .area {
    padding: 0rem 1.5rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.project-show .project-item .address {
    margin: 1.5rem 1.5rem 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--hover-color);
    width: fit-content;
}