section {
    padding: 10rem 12% 2rem;
}

.home {
    position: relative;
    padding: 0;
    width: 100%;
    height: 80vh; /* Chiều cao bằng 60% chiều cao màn hình */
    overflow: hidden;
}

.home-img {
    width: 100%;
    height: 100%;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ, phủ kín, cắt phần dư nếu cần */
    object-position: center; /* Canh giữa ảnh */
    display: block;
}

/* Phần nội dung nằm đè lên ảnh */
.home-content {
    position: absolute;
    top: 35%;
    left: 12%;
    width: 35%;
    color: var(--white-color);
    z-index: 2;
    padding: 1rem 2rem;
    background-color: var(--shadow-color);
    border-radius: 12px;
}

.home-content h1 {
    color: var(--white-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-content h3 {
    color: var(--white-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-content p {
    color: var(--white-color);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.5;
    text-align: justify;
}

.home-content button {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem 0;
    color: white;
    background: var(--main-color);
    border-radius: 1rem;
    font-weight: 600;
    transition: .5s ease;
}

.home-content button:hover {
    background: var(--second-color);
}

.about {
    display: flex;
    column-gap: 6rem;
    align-items: center;
    background-color: var(--bg-color);
    min-height: 100vh;
    padding-top: 4rem;
}

.about .about-content {
    width: 55%;
    color: var(--text-color);
}

.about .about-content h1 {
    font-size: 3rem;
    color: var(--text-color);
}

.about .about-content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--text-color);
}

.about .about-content p {
    text-align: justify;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: var(--text-color);
    line-height: 2;
    margin: 1rem 0;
}

.about .about-img {
    width: 45%;
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ, phủ kín, cắt phần dư nếu cần */
    object-position: center; /* Canh giữa ảnh */
    display: block;
    border-radius: 1rem;
}

.about-service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 2rem 0;
}

.about-service button {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    color: var(--text-color);
    border-radius: 1rem;
    border: none;
    transition: background-color 0.5s;
}

.about-service button:hover {
    background: var(--main-color);

    a, i{
        color: white;
    }
}

.about-service button a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.about-service button p i {
    font-size: 2.5rem;
    padding-right: .5rem;
}

.product {
    background-color: var(--hover-color);
}

.product .product-content {
    display: flex;
    color: var(--text-color);
}

.product .product-content h3 {
    font-size: 2.5rem;
    margin-right: auto;
    text-align: justify;
}

.product .product-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: justify;
}

.product .product-content p a:hover {
    color: var(--sd-text-color);
}

.product .product-content p a.active {
    color: var(--sd-text-color);
}

.project {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.product .product-show,
.project .project-show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 2.5rem 0;
    color: var(--text-color);
}

.product .product-item,
.project .project-item {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    cursor: pointer;
    transition: .5s ease;
    color: var(--text-color);
    height: 100%;
    border: 1px solid var(--border-color);
}

.product .product-item:hover,
.project .project-item:hover {
    transform: scale(1.02);
}

.product .product-item img,
.project .project-item img {
    width: 100%;
    height: 175px;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.product .product-item h3,
.project .project-item h3 {
    font-size: 2rem;
    padding: 1rem 1.5rem;
}

.product .product-item p,
.project .project-item p {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    text-align: justify;
}

.product .product-item .price {
    font-size: 1.5rem;
}

.product-item .price .product-orgPrice {
    text-decoration: line-through;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-color-blur);
}

.product .product-item .product-item-end {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    font-size: 1.5rem;
}

.product-item .product-item-end button {
    margin-right: auto;
    padding: .5rem 1rem;
    background: var(--main-color);
    color: #ffffff;
    font-weight: 530;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    transition: .5s ease;
}

.product-item .product-item-end button:hover {
    background: var(--second-color);
}

.product-item .product-item-end p {
    padding: .5rem 1rem;
    border: .1rem solid var(--main-color);
    margin-left: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.product-item .product-item-end p:hover {
    background: var(--main-color);
}

.project .project-content {
    display: flex;
    align-items: center;
}

.project .project-content h3 {
    margin-right: auto;
    font-size: 2.5rem;
}

.project .project-content a {
    padding: 1rem;
    font-size: 1.5rem;
    background: var(--main-color);
    color: #ffffff;
    border: .1rem solid var(--border-color);
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

.project .project-content p:hover {
    background: var(--second-color);
}

.project-show .project-item .area {
    padding: 0rem 1.5rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.project-show .project-item .address {
    margin: 1.5rem 1.5rem 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--hover-color);
    width: fit-content;
}

.section-popup{
    box-sizing: border-box;
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* overlay mờ */
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.2s ease-in-out;

    .popup-container{
        box-sizing: border-box;
        width: 30%;
        height: auto;
        margin: auto;
        background-color: white;
        position: relative;

        .popup-header, .popup-content{
            padding: 1rem 1rem;
        }

        .popup-header{
            box-sizing: border-box;
            font-size: 1.5rem;
            font-weight: 550;
            background-color: green;
            color: white;
        }

        .action-btn{
            box-sizing: border-box;
            width: 80%;
            margin: auto;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: white;
            font-size: 1.55rem;

        }

        .popup-content{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .popup-text{
                font-size: 1.7rem;
                font-weight: 650;
                padding: 1rem 0;
            }

            .popup-action{
                box-sizing: border-box;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 1rem 0;


                

                .continue-btn{
                    background-color: green;

                    &:hover{
                        background-color: rgb(1, 114, 1);
                    }

                    &:active{
                        background-color: rgb(1, 100, 1);
                    }
                }

                .cartNav-btn{
                    background-color: #F0F0F0;
                    color: #94989A;
                    text-decoration: none;

                    &:hover{
                        background-color: #dedede;
                    }

                    &:active{
                        background-color: #cacaca;
                    }
                }
            }
        }

        .popup-close{
            box-sizing: border-box;
            padding: 1rem;

            .close-icon{
                color: black;
                padding: 0.3rem;
                font-size: 2.5rem;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover{
                    background-color: rgb(236, 236, 236);
                    
                }

                &:active{
                    background-color: rgb(212, 212, 212);
                }
            }
        }

        .popup-product{
            box-sizing: border-box;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            padding: 1rem 3rem 2rem;

            .popup-section-image{
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .popup-image{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border: 1px solid rgb(212, 212, 212);
                }
            }

            .popup-section-form{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;
                
                .popup-name{
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                .popup-price{

                    .popup-orgPrice{
                        color: grey;
                        font-size: 1.4rem;
                        text-decoration: line-through;
                    }

                    .popup-salePrice{
                        font-size: 1.45rem;
                        font-weight: 600;
                    }
                }

                .popup-quantity{
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;

                    .popup-quantity-name{
                        font-size: 1.5rem;
                    }

                    .popup-quantity-controller{
                        box-sizing: border-box;
                        border: 1px solid grey;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .minus-icon, .plus-icon{
                            box-sizing: border-box;
                            padding: 0.5rem;
                            font-weight: 600;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;

                            &:hover{
                                background-color: rgb(217, 217, 217);
                            }

                            &:active{
                                background-color: rgb(179, 179, 179);
                            }
                        }


                        .popup-minus-btn, .popup-add-btn{
                            box-sizing: border-box;
                            padding: 0.2rem;
                        }

                        .popup-minus-btn{
                            box-sizing: border-box;
                            border-right: 1px solid grey;
                        }

                        .popup-quantity-input{
                            box-sizing: border-box;

                            .quantity-input{
                                width: 30px;
                                padding: 0.5rem;
                                font-size: 1.5rem;
                                outline: none;
                                border: none;
                                text-align: center;
                            }

                        }

                        .popup-add-btn{
                            box-sizing: border-box;
                            border-left: 1px solid grey;
                        }
                    }

                    
                }

                .popup-submit{
                    padding-top: 1rem;
                    .proceed-btn{
                        width: 100%;
                        background-color: rgb(45, 45, 45);
                        color: white;
                        padding: 0.85rem;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            background-color: rgb(31, 31, 31);
                        }

                        &:active{
                            background-color: rgb(27, 27, 27);
                        }
                    }
                }

                
            }
        }
    }


    .popup-product{
        display: grid
    }

}

/* --- Responsive --- */
@media (max-width: 1366px) {
    section {
        padding: 7rem 3rem 2rem;
    }

    .home-content {
        top: 34%;
        left: 8%;
        width: 45%;
        padding: 2rem 3rem;
    }

    .about {
        min-height: auto;
        padding: 5rem 3rem;
    }
}

@media (max-width: 1110px) {
    .about-service {
        gap: 1.5rem;
    }
}

@media (max-width: 430px) {
    section {
        padding: 7rem 2rem 2rem;
    }

    .home {
        position: relative;
        padding: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .home-content {
        top: 3%;
        left: 3%;
        width: 94%;
        padding: 2rem 3rem;
    }

    .about .about-content {
        width: 100%;
        color: var(--text-color);
    }

    .about-img {
        display: none;
    }

    .about-service {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 2rem 0;
    }

    .product .product-content p {
        display: none;
    }

    .product .product-show,
    .project .project-show {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 2.5rem 0;
    }
}