venv

accounts/__pycache__
contact/__pycache__
news/__pycache__
order/__pycache__
products/__pycache__
projects/__pycache__
sin_asia/__pycache__

accounts/migrations
contact/migrations
news/migrations
order/migrations
products/migrations
projects/migrations
sin_asia/migrations