#cart-page{
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 7rem;
    
}

.section-header{
    box-sizing: border-box;



    .section-header-title{
        box-sizing: border-box;
        position: relative;
        font-size: 2.5rem;
        margin: 0;
        padding: 0;

        .page-image{
            width: 100%;
            height: auto;
        } 
        
        .page-title{
            position: absolute;
            bottom: 45%;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
            color: white;
            font-weight: 700;
            font-size: 3rem;
            background-color: rgba(0, 0, 0, 0.434);
        }
    }

    .section-header-control{
        box-sizing: border-box;
        width: 70%;
        margin: auto;
        padding: 1.3rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        

        .section-header-return{
            box-sizing: border-box;

            .return-link{
                box-sizing: border-box;
                text-decoration: none;
                color: black;
                padding: 1rem 0.5rem;
                gap: 0.5rem;
                border-radius: 10px;
                color: #d97b00;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                .return-icon, .return-label{
                    font-weight: 550;
                }

                .return-icon{
                    font-size: 2rem;
                }

                .return-label{
                    font-size: 1.6rem;
                }

                &:hover{
                    background-color: #fae5b7;
                }

                &:active{
                    background-color: #fbe3ae;
                }
                
            }



        }

        .section-header-clear{
            box-sizing: border-box;

            .clear-btn{
                box-sizing: border-box;
                padding: 1rem 0.5rem;
                font-size: 1.6rem;
                font-weight: 550;
                border: none;
                border-radius: 10px;
                background-color: transparent;
                color: rgb(219, 12, 12);
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover{
                    background-color: rgb(252, 197, 197);
                }

                &:active{
                    background-color: rgb(255, 190, 190);
                }
            }

        }

        

        

        

    }

    

}

.section-content{
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    display: grid;
    padding: 1rem 0;

    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;


    .section-content-cart{
        box-sizing: border-box;
        margin: 2rem 0;


        .cart-table{
            box-sizing: border-box;
            width: 100%;

        }

        .cart-table-head, .cart-table-data{
            display: grid;
            grid-template-columns: auto 10% 40% 15% 15% 15%;
        }

        th, td{
            width: 100%;
            padding: 0.75rem;
        }



        .cart-table-head{
            box-sizing: border-box;
            background-color: #face30;

            th{
                font-size: 1.5rem;
            }

            .table-head-product{
                grid-column: 2 / 4;
            }

        }

        .cart-table-data{
            box-sizing: border-box;
            border-bottom: 1px solid rgb(220, 220, 220);
            background-color: #fbfbfba2;

            td{
                height: 100px;
                max-height: 100px;
            }

            .remove-icon{
                font-size: 2rem;
                padding: 0.1rem;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover{
                    color: rgb(210, 19, 19);
                    background-color: rgb(255, 214, 214);
                }

                &:active{
                    background-color: rgb(249, 185, 185);
                }
            }

            .cart-item-image{
                width: 100%;
                height: auto;
                border: 1px solid rgb(181, 181, 181);
            }

            .cart-item-name{
                align-content: center;
                white-space: nowrap;         /* Prevent text from wrapping */
                overflow: hidden;            /* Hide overflowing text */
                text-overflow: ellipsis;
            }

            .cart-item-name, .cart-item-price, .cart-item-subtotal{
                font-size: 1.5rem;
            }

            .cart-item-price, .cart-item-subtotal{
                font-weight: 550;
            }

            .cart-item-quantity{
                padding: 0.5rem;

                .item-quantity-controller{
                    box-sizing: border-box;
                    border: 1px solid grey;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .minus-icon, .plus-icon{
                        box-sizing: border-box;
                        padding: 0.5rem;
                        font-weight: 600;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            background-color: rgb(217, 217, 217);
                        }

                        &:active{
                            background-color: rgb(179, 179, 179);
                        }
                    }

                    .item-minus-btn, .item-add-btn{
                        box-sizing: border-box;
                        padding: 0.5rem;
                    }

                    .item-minus-btn{
                        box-sizing: border-box;
                        border-right: 1px solid grey;
                    }

                    .item-quantity-input{
                        box-sizing: border-box;

                        .quantity-input{
                            width: 30px;
                            padding: 0.5rem;
                            font-size: 1.5rem;
                            outline: none;
                            border: none;
                            text-align: center;
                        }

                    }

                    .item-add-btn{
                        box-sizing: border-box;
                        border-left: 1px solid grey;
                    }

                }
            }

            .cart-item-subtotal{

            }
        }
    }

    .section-content-total{
        box-sizing: border-box;
        height: max-content;
        padding: 0;
        margin: 2rem 0;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;


        .section-total-process, .section-total-coupon{
            border-bottom: 1px solid rgb(220, 220, 220);
        }

        .section-total-title{
            box-sizing: border-box;
            padding: 1rem 0;
            background-color: #FACE30;
            font-size: 1.8rem;
            font-weight: 600;
            

        }

        .total-row{
            box-sizing: border-box;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .total-row-label, .total-row-value{
                font-size: 1.5rem;
            }

            .total-row-label{
                color: grey;
            }

            .total-row-value{
                color: black;
                font-weight: 600;
            }
        }

        .section-total-process, .section-total-coupon, .section-total-final{
            box-sizing: border-box;
            padding: 1rem 2rem;
        }

        .section-total-process{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        

        .section-total-coupon{
            width: 100%;    
            #coupon-form{
                width: 100%;
                box-sizing: border-box;
                

                .coupon-label{
                    box-sizing: border-box;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.5rem;

                    #coupon-input{
                        box-sizing: border-box;
                        width: 100%;
                        padding: 0.5rem;
                        font-size: 1.5rem;
                        outline: none;
                        outline: 2px solid rgb(179, 179, 179);

                        &:focus-within{
                            outline: 2px solid black;
                        }
                    }

                    .coupon-submit{
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        background-color: green;
                        color: white;
                        height: max-content;
                        font-size: 1.5rem;
                        padding: 0.6rem 1rem;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            background-color: rgb(4, 106, 4);
                        }

                        &:active{
                            background-color: rgb(13, 87, 13);
                        }
                    }
                }
            }

        }

    }

    .section-content-checkout{
        box-sizing: border-box;
        padding: 1rem;

        .forward-link{
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .forward-icon, .forward-label{
                font-weight: 550;
            }

            .forward-icon{
                font-size: 2rem;
            }

            .forward-label{
                font-size: 1.8rem;
            }

            &:hover{
                color: #FDAD01;
                border-bottom: 2px solid #FDAD01;
            }

            &:active{
                color: #dd9700;
            }
        }

        
    }

}

.delete-popup{
    box-sizing: border-box;
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* overlay mờ */
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.2s ease-in-out;

    .delete-confirm{
        box-sizing: border-box;
        width: 35%;
        margin: auto;
        background-color: white;
        position: relative;

        .delete-confirm-content, .delete-confirm-header{
            padding: 1rem 1.5rem;
        }

        .delete-confirm-header{
            box-sizing: border-box;
            font-size: 1.5rem;
            font-weight: 550;
            background-color: #fba905;
            color: white;
        }

        .delete-confirm-content{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .delete-confirm-text{
                font-size: 1.7rem;
                font-weight: 650;
            }

            .delete-confirm-action{
                box-sizing: border-box;
                display: grid;
                grid-template-columns: 1fr 1fr;


                .action-btn{
                    box-sizing: border-box;
                    width: 80%;
                    margin: auto;
                    padding: 0.5rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    color: white;
                    font-size: 1.55rem;

                }

                .confirm-btn{
                    background-color: #F24747;

                    &:hover{
                        background-color: #da3b3b;
                    }

                    &:active{
                        background-color: rgb(191, 45, 45);
                    }
                }

                .cancel-btn{
                    background-color: #F0F0F0;
                    color: #94989A;

                    &:hover{
                        background-color: #dedede;
                    }

                    &:active{
                        background-color: #cacaca;
                    }
                }
            }
        }


    }
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}
