#order-page{
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 7rem;
    width: 70%;
    margin: auto;
}

.card-hover{
    background-color: #f9f3eb !important;
}

.card-active{
    background-color: #feae01a6 !important;
    border: 1px solid #f8db9d !important;
}

.order-page-header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    

    .page-return{
        box-sizing: border-box;
        width: max-content;
        height: auto; 

        .return-link{
            box-sizing: border-box;
            text-decoration: none;
            color: rgb(147, 147, 147);
            gap: 0.5rem;
            padding: 0.8rem 0.8rem 0.8rem 0;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            border-radius: 10px;


            .return-icon, .return-title{
                font-weight: 550;
            }

            .return-icon{
                font-size: 2rem;
            }

            .return-title{
                font-size: 1.6rem;
            }

            &:hover{
                color: black;
                background-color: #febe3586;
            }

            &:active{
                background-color: #febe35ac;
            }
        }
    }

    .page-title{
        display: flex;
        align-items: center;
        text-align: center;
        

        .title-text{
            font-size: 3rem;
            font-weight: 500;
            color: black;
        }
    }

    .page-title::before,
    .page-title::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #ccc;
      opacity: 0.5;
    }

    .page-title:not(:empty)::before {
      margin-right: 1rem;
    }

    .page-title:not(:empty)::after {
      margin-left: 1rem;
    }
}

.order-page-content{
    box-sizing: border-box;
    padding: 3rem 0;

    #section-order-form{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 2rem;

        .section-order-input{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .address-title, .payment-title{
                font-size: 2rem;
                font-weight: 550;
            }
            
            .section-order-address{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                

                .address-selection{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .address-card{
                        box-sizing: border-box;
                        background-color: #f8f7f7;
                        border: 1px solid rgb(234, 234, 234);
                        
                        
                        .address-selection-label{
                            box-sizing: border-box;
                            padding: 1rem;
                            cursor: pointer;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            transition: all 0.2s ease-in-out;

                            .address-selection-name{
                                font-size: 1.6rem;
                            }

                            .address-selection-input{
                                transform: scale(1.1);
                            }
                        }
                        
                    }

                }

                .address-input{
                    box-sizing: border-box;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.85rem;

                    .form-field{
                        box-sizing: border-box;
                        width: 100%;

                        .form-label{
                            box-sizing: border-box;
                            width: 100%;
                            padding: 0.5rem 0;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .form-name{
                                font-size: 1.5rem;
                            }

                            .form-input{
                                box-sizing: border-box;
                                width: 100%;
                                padding: 0.5rem;
                                font-size: 1.4rem;
                                outline: 2px solid rgb(179, 179, 179);

                                &:focus-within{
                                    outline: 2px solid black;
                                }
                            }

                        }

                        
                    }

                    .fullName-field, .address-field{
                        
                        grid-column: 1 / 3;
                    }
                }
            }

            .section-order-payment{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .payment-selection{
                    box-sizing: border-box;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;

                    .payment-card{
                        box-sizing: border-box;
                        background-color: #f8f7f7;
                        border: 1px solid rgb(234, 234, 234);
                        
                        .payment-selection-label{
                            box-sizing: border-box;
                            padding: 1rem;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            gap: 0.5rem;

                            .payment-selection-input{
                                box-sizing: border-box;
                                transform: scale(1.1)
                            }

                            .payment-selection-img{
                                box-sizing: border-box;
                                width: 20px;
                                height: 20px;
                            }

                            .payment-selection-name{
                                box-sizing: border-box;
                                font-size: 1.6rem;
                            }
                        }


                    }

                    
                }

                .payment-input{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1rem 0;
                    
                }

                #bank-input{
                    
                    width: 100%;
                    

                    .bank-account{
                        box-sizing: border-box;
                        
                        .bank-account-image{
                            width: 50%;
                            margin: auto;
                            height: auto;
                        }
                    }

                    .bank-proof{
                        box-sizing: border-box;
                        display: grid;
                        grid-template-columns: 1fr 1.5fr;


                        .bank-proof-label{
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            padding: 0.85rem;

                            .bank-proof-input{
                                width: 100%;
                                border: 2px solid grey;
                                padding: 0.5rem;
                                font-size: 1.5rem;
                            }
                        }

                        .bank-proof-preview{
                            box-sizing: border-box;
                            padding: 0.85rem;

                            #bank-proof-previewImg{
                                width: 100%;
                                
                            }

                            .previewImg-active{
                                border: 2px solid grey;
                            }
                        }
                        
                    }
                    
                    
                }

                .bank-account-name, .bank-proof-name{
                    font-size: 1.5rem;
                }
            }

            
        }

        .section-order-total{
            box-sizing: border-box;

            .total-title{
                box-sizing: border-box;
                font-size: 2rem;
                font-weight: 550;
            }

            .total-info{
                box-sizing: border-box;
                
                .total-info-products{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    
                    .product-card{
                        box-sizing: border-box;
                        padding: 1rem;
                        display: grid;
                        grid-template-columns: 20% 80%;

                        .product-card-image{
                            width: 100%;

                            img{
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                border: 1px solid rgb(239, 239, 239);
                            }
                        }

                        .product-card-info{
                            display: flex;
                            flex-direction: column;
                            padding: 1rem;

                            .card-info-row1{
                                display: grid;
                                grid-template-columns: 3fr 1fr;

                                .product-card-name{
                                    font-size: 1.3rem;
                                    align-content: center;
                                    white-space: nowrap;         /* Prevent text from wrapping */
                                    overflow: hidden;            /* Hide overflowing text */
                                    text-overflow: ellipsis;
                                }

                                .product-card-price{
                                    font-size: 1.2rem;
                                    font-weight: 550;
                                }
                            }

                            .card-info-row2{
                                display: grid;
                                grid-template-columns: 1fr 3fr;


                                .product-card-quantity{
                                    font-size: 1.2rem;
                                }

                                .product-card-subtotal{
                                    font-size: 1.4rem;
                                    font-weight: 550;
                                }
                            }
                        }


                    }

                }

                .total-row{
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .total-row-label, .total-row-value{
                        font-size: 1.5rem;
                    }

                    .total-row-label{
                        color: grey;
                    }

                    .total-row-value{
                        color: black;
                        font-weight: 600;
                    }
                }

                .total-info-process{
                    box-sizing: border-box;
                    width: 100%;
                    padding: 1rem;
                    
                
                }

                .total-info-final{
                    box-sizing: border-box;
                    width: 100%;
                    padding: 1rem;

                }

                .total-info-process, .total-info-products, .total-info-final{
                    border-bottom: 1px solid rgb(220, 220, 220);
                }
            }

            .total-submit{
                width: 100%;
                padding: 1rem 0;

                .submit-btn{
                    width: 100%;
                    box-sizing: border-box;
                    background-color: #f3a706;
                    padding: 1rem;
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 550;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover{
                        background-color: #fcae06d4;
                        color: whitesmoke;
                    }

                }
            }
        }

    }

    
}

