* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sd-bg-color: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    --border-color: #ccc;
    --hover-color: #f5f5f5;
    --white-color: #fff;
    --bg-color: white;
    --text-color: #333;
    --text-hover: #1f1f1f;
    --sd-text-color: #ff4081;
    --main-color: #FFF176;
    --second-color: #f4e185;
    --shadow-color: rgba(0, 0, 0, .2);
}

.darkMode {
    --sd-bg-color: linear-gradient(90deg, #1a1a1a, #333);
    --border-color: #444;
    --hover-color: #555;
    --white-color: #fff;
    --bg-color: #222;
    --text-color: #f0f0f0;
    --text-hover: #e0e0e0;
    --sd-text-color: #ff4081;
    --main-color: #ff9800;
    --second-color: #ffc107;
    --shadow-color: rgba(0, 0, 0, .5);
}

.actions #change-color .bx:first-child {
    display: block;
}

.actions #change-color .bx:last-child {
    display: none;
}

.darkMode .header .actions #change-color .bx:first-child {
    display: none;
}

.darkMode .header .actions #change-color .bx:last-child {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 10rem 12% 2rem;
}

.floating-icons {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

.floating-icons .icon {
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transition: .5s ease;
}

.floating-icons .icon:hover {
    transform: scale(1.1);
}

.floating-icons .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.logo .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.logo .slogan h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

.logo img {
    height: 6vh;
}

.nav {
    display: flex;
    gap: 2.5rem;
    margin-right: auto;
    font-size: 1.5rem;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s ease;
    position: relative;
}

.nav a.active {
    color: var(--sd-text-color);
}

.nav a:hover {
    color: var(--sd-text-color);
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--sd-text-color);
    transition: width 0.3s ease-out;
}

.nav a:hover::after {
    width: 100%;
    color: var(--sd-text-color);
}

.dropdown-nav-products,
.dropdown-nav-projects {
    position: relative;
}

.dropdown-nav-products::after,
.dropdown-nav-projects::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 20px; /* khoảng hover thêm */
}

.dropdown-products,
.dropdown-projects {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 225px;
    top: calc(100% + 10px);
    left: 0;
    box-shadow: 0px 8px 16px var(--shadow-color);
    z-index: 1000;
    border-radius: .5rem;
    flex-direction: column;
}

.dropdown-projects {
    min-width: 180px;
}

/* Hiện khi hover vào .dropdown */
.dropdown-nav-products:hover .dropdown-products,
.dropdown-nav-projects:hover .dropdown-projects {
    display: flex;
}

.dropdown-nav-products:hover .nav-main::after,
.dropdown-nav-projects:hover .nav-main::after {
    width: 100%;
    color: var(--sd-text-color);
}

.dropdown-products a,
.dropdown-projects a {
    padding: 1rem 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.dropdown-products a:hover,
.dropdown-projects a:hover {
    background-color: var(--hover-color);
    color: var(--text-hover);
}

/* Ngăn gạch chân ở dropdown */
.dropdown-products a::after,
.dropdown-projects a::after {
    display: none;
}

.actions {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: .5rem;
    position: relative;
}

.actions .download {
    cursor: pointer;
    transition: .5s ease;
    padding: 1rem;
    border-radius: 4px;
}

.download:hover {
    background-color: var(--hover-color);
}

.icon {
    font-size: 2rem;
    cursor: pointer;
    border-radius: .5rem;
    padding: .7rem 1.2rem;
}

.icon:hover {
    background-color: var(--hover-color);
}

/*Bell*/
.icon.bell {
    position: relative;
    cursor: pointer;
}
/* Hộp thông báo sẽ hiển thị bên dưới hoặc cạnh chuông */
.notification-box {
    display: none;
    position: absolute;
    top: 5rem; /* khoảng cách phía dưới chuông */
    right: 34rem;
    width: 550px;
    background: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 12px var(--shadow-color);
    padding-top: 16px;
    z-index: 999;
}

.notification-box.show {
    display: block;
}

.tab {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: 0rem 1.6rem;
}

.tab a {
    background: none;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    transition: .5s ease;
}

.tab a.active {
    border-bottom: 1px solid var(--sd-text-color);
    color: var(--sd-text-color);
}

.tab a:hover {
    color: var(--sd-text-color);
}

.badge {
    background: var(--sd-text-color);
    color: var(--bg-color);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 4px;
}

.notification-body {
    background-color: var(--hover-color);
    height: 40vh;
    border-radius: 0 0 .8rem .8rem;
    padding-top: 1.2rem;
}

.notification-content {
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-color);
    gap: 12px;
    position: relative;
    margin: 0 1.6rem 0;
    border-radius: .8rem;
}

.icon {
    font-size: 20px;
    margin-top: 4px;
}

.text {
    border-radius: 8px;
    padding: 1rem 0;
}

.text .title {
    font-weight: bold;
    margin-bottom: 4px;
}

.text .description {
    color: var(--text-color);
}

.text .date {
    margin-top: 8px;
    font-size: 12px;
    color: var(--text-color);
}
/*end bell*/

.actions .login-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.actions .login-register a {
    padding: 1rem;
    transition: .5s ease;
}

.actions .login-register a:hover {
    background-color: var(--hover-color);
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .5s ease;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.user:hover {
    background-color: var(--hover-color);
}

.actions .dropdown-user {
    position: absolute;
    top: 5rem;
    right: 14rem;
    width: 37%;
    padding: .5rem 0;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
}

.actions .dropdown-user p {
    padding: 1rem 1.5rem;
    transition: .5s ease;
}

.actions .dropdown-user p:hover {
    background-color: var(--hover-color);
}

.actions .dropdown-user p i {
    padding-right: .5rem;
}

.avatar {
    background-color: #fdecec;
    background-color: var(--border-color);
    color: var(--sd-text-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.username {
    font-size: 1.5rem;
    color: var(--text-color);
}

.dropdown {
    font-size: 1.5rem;
    color: var(--text-color);
}

.btn-post {
    padding: 1rem 1.5rem;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: .5s ease;
}

.btn-post:hover {
    background-color: var(--hover-color);
}

.btn-post img {
    display: inline;
    width: 2.5vh;
    margin-right: .5rem;
}

.btn-post i {
    margin-left: .5rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.language-selector {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.lang-toggle {
    padding: 1rem 1.5rem;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

.lang-toggle:hover {
    background-color: var(--hover-color);
}

.lang-toggle img {
    width: 2.5vh;
    margin-right: .5rem;
}

.lang-toggle i {
    margin-left: .5rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.lang-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--shadow-color);
    z-index: 999;
    min-width: 180px;
}

.lang-option {
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.lang-option:hover {
    background-color: var(--hover-color);
}

.lang-option img {
    width: 2.5vh;
    margin-right: .75rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.language-selector.show .lang-dropdown {
    display: block;
}

.menu {
    display: none;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.8rem;
    right: 0;
    position: absolute;
    width: 30%;
    padding: .5rem 0;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
}

.menu-nav a {
    padding: 1rem 1.5rem;
    transition: .5s ease;
}

.menu-nav a:hover {
    background-color: var(--hover-color);
}

.menu-nav a i {
    margin-right: .5rem;
}

.menu-nav,
.dropdown-user {
    display: none;
}

.menu-nav.show,
.dropdown-user.show {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--hover-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 0rem 12% 2rem;
}

.part1, .part2 {
    display: grid;
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 2rem 0 0rem;
    font-size: 1.5rem;
}

.part1 .part1-item,
.part1 .part1-item a {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.part1 .part1-item img {
    height: 10vh;
}

.part1 .part1-item .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.part1 .part1-item .slogan h3 {
    font-weight: 600;
    font-size: 2.5rem;
}

.part1 .part1-item .slogan p {
    font-size: 2rem;
}

.part1 .part1-item i {
    font-size: 3rem;
    padding-right: 1rem;
}

.part1 .part1-item .footer-inf {
    display: flex;
    flex-direction: column;
}

.part1-item .footer-inf h3 {
    font-weight: 600;
}

.part2 {
    margin-bottom: 1.5rem;
}

.part1-item a, 
.part2-item a {
    transition: .5s ease;
}

.part1-item a:hover, 
.part2-item a:hover {
    color: var(--sd-text-color);
}

.part2 .part2-item h4 {
    font-weight: 550;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.part2 .part2-item h5 {
    font-weight: 550;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.part2 .part2-item p {
    padding: 0rem 0 1.5rem;
}

.part2 .part2-item p i {
    padding-right: .5rem;
}

.part2 .part2-item .social {
    margin-bottom: 1.5rem;
}

.part2 .part2-item .social a {
    padding: .5rem 1rem;
    margin: 1rem .5rem 1rem 0rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    transition: .5s ease;
    border: .1rem solid var(--border-color);
    border-radius: .5rem;
}

.part2 .part2-item .social a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.part2 .part2-item .subscribe-form {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    font-size: 1.5rem;
    background-color: var(--bg-color);
}

.part2 .part2-item .subscribe-form input[type="email"] {
    flex: 1;
    padding: 12px 16px;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    outline: none;
}

.part2 .part2-item .subscribe-form input::placeholder {
    color: var(--border-color);
}

.part2 .part2-item .subscribe-form button {
    background-color: var(--sd-text-color); /* đỏ tươi */
    color: var(--bg-color);
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.part2 .part2-item .subscribe-form button:hover {
    background-color: var(--sd-text-color);
}

.part2 .part2-item .subscribe-form i {
    font-size: 1.5rem;
}

hr {
    border: .1px solid var(--border-color);
}

.part3 h3 {
    font-size: 1.5rem;
    padding: 2rem 0 0;
}


/* --- Responsive --- */
@media (max-width: 1040px) {
    .dropdown-user.show {
        right: 19rem;
        width: 40%;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .actions {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .download, .username, .dropdown-user, .icon {
        display: none;
    }

    .header {
        position: relative;
    }

    .header {
        position: relative;
    }

    .actions {
        position: unset;
    }

    .dropdown-user.show {
        position: absolute;
        top: 7.3rem;
        width: 100%;
        right: 0rem;
    }

    .menu-nav.show {
        position: absolute;
        top: 7.3rem;
        width: 100%;
        right: 0rem;
    }
}