{% extends "base.html" %}
{% load static %}

{% block css %}
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/product/product_list.css' %}?v={{ timestamp }}">
{% endblock %}
{% block title %}Sản Phẩm{% endblock %}
{% block content %} 
<main id="product-page">
    <div class="section-title">
        <img class="page-image" src="{% static 'images/products_intro.jpg' %}?v={{ timestamp }}"/>
        <h2 class="page-title">SẢN PHẨM</h2>
    </div>
    

    <div class="section-content">
        <div class="section-options">
            <div class="section-categories">
                <div class="categories-title align-center">DANH MỤC SẢN PHẨM</div>
                <ul class="categories-container">
                    {% if categories %}
                        {% for category in categories %}
                        <li 
                            {% if category.slug == selected_category.slug %}
                            class="category-card category-card-active align-left"
                            {% else %}
                            class="category-card align-left"
                            {% endif %}
                            
                        >
                            <a class="category-card-link" href="/{{category.slug}}">
                                <span class="category-card-name align-center">{{category.name}}</span>
                            </a>
                            
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="section-filter">
                <div class="filter-title align-center">LỌC SẢN PHẨM</div>
                <form action="/products/filter" method="POST" id="filter-form">
                    <div class="filter-price">
                        <h4 class="filter-field">Khoảng giá</h4>
                        <hr style="width: 100%;"/>
                        <label for="priceLevel_1" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_1"
                                value="priceLevel_1"
                                class="filter-input"
                            />
                            <span class="filter-value">Dưới 250,000đ</span>
                        </label>
                        <label for="priceLevel_2" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_2"
                                value="priceLevel_2"
                                class="filter-input"
                            />
                            <span class="filter-value">Từ 250,000đ đến 1,000,000đ</span>
                        </label>
                        <label for="priceLevel_3" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_3"
                                value="priceLevel_3"
                                class="filter-input"
                            />
                            <span class="filter-value">Từ 1,000,000đ đến 2,500,000đ</span>
                        </label>
                        <label for="priceLevel_4" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_4"
                                value="priceLevel_4"
                                class="filter-input"
                            />
                            <span class="filter-value">Trên 2,500,000đ</span>
                        </label>
                    </div>
                    <div class="filter-stock">
                        <h4 class="filter-field">Tình trạng hàng</h4>
                        <hr style="width: 100%;" />
                        <label for="inStock" class="filter-label align-left">
                            <input 
                                type="checkbox"
                                name="inStock"
                                value=""
                                id="inStock"
                                class="filter-input"
                            />
                            <span class="filter-value">Còn hàng</span>
                        </label>
                    </div>
                    <div class="filter-submit">
                        <hr style="width: 100%;" />
                        <button type="submit" class="filter-submit-btn">
                            Lọc sản phẩm
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="section-products">
            <div class="section-search">
                <div class="category-label align-left">
                    <h4>Tất Cả Sản Phẩm</h4>
                </div>
                <div class="search-bar align-right">
                    <label for="searchTerm" class="search-label align-left">
                        <input 
                            type="text"
                            id="search-input"
                            placeholder="Nhập tên sản phẩm"
                            name="search-input"
                        />
                        <i class='bx bx-search search-icon align-center'></i> 
                    </label>
                </div>
                
                
            </div>
            <hr />
            <div class="products-container">
                {% if not products%}
                <div class="align-left">Không tìm thấy sản phẩm nào</div>
                {% else %}
                {% for product in products  %}
                <a class="product-link" href="/products/{{product.slug}}">
                    <div class="product-card" data-index="{{product.slug}}_{{product.id}}">
                        <div class="product-card-thumbnail">
                            {% if product.image_url != "" %}
                                <img class="product-card-image" src="{{product.image_url}}" alt="">
                            {% else %}
                                <img class="product-card-image" src="{% static 'images/product_placeholder.jpg' %}" alt="">
                            {% endif %}
                            
                        </div>
                        <div class="product-card-info">
                            <div class="product-card-name">
                                {{product.name}}
                            </div>
                            <div class="product-card-more">
                                <div class="product-card-price align-right">
                                    {% if product.sale_price == product.org_price  %}
                                    <div class="product-card-salePrice align-right">{{product.sale_price}}đ</div>
                                    {% else %}
                                    <div class="product-card-orgPrice align-right">{{product.org_price}}đ</div>
                                    <div class="product-card-salePrice align-right">{{product.sale_price}}đ</div>
                                    {% endif %}
                                    
                                </div>
                                
                            </div>
                            <div class="product-card-action">
                                
                                <button 
                                    type="button"
                                    class="action-btn cart-btn"
                                >
                                    Thêm vào giỏ
                                </button>
                                <button 
                                    type="button"
                                    class="action-btn buy-btn"
                                >
                                    Mua ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section-popup">
        <div class="popup-container">
            <div class="popup-header align-center">
                Thông báo
            </div>
            <div class="popup-content">
                <div class="popup-text align-center">
                    Thêm vào giỏ hàng thành công
                </div>
                <div class="popup-action">
                    <button type="button" class="action-btn continue-btn align-center">
                        Tiếp tục mua sắm
                    </button>
                    <a href="/cart" class="action-btn cartNav-btn align-center">
                        Xem giỏ hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/product/product_list.js' %}?v={{ timestamp }}" type="module"></script>
{% endblock script %}
