{% extends "base.html" %}
{% load static %}

{% block css %}
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/product/product_list.css' %}?v={{ timestamp }}">
{% endblock %}
{% block title %}Sản Phẩm{% endblock %}
{% block content %} 
<main id="product-page">
    <div class="section-title">
        <img class="page-image" src="{% static 'images/products_intro.jpg' %}?v={{ timestamp }}"/>
        <h2 class="page-title">SẢN PHẨM</h2>
    </div>
    

    <div class="section-content">
        <div class="section-options">
            <div class="section-categories">
                <div class="categories-title align-center">DANH MỤC SẢN PHẨM</div>
                <ul class="categories-container">
                    <li 
                        class="category-main"
                    >
                        <div class="category-main-name align-left category-card-active">
                            <div class="category-name align-left">
                                <i class='bx bx-shopping-bag category-icon'></i> 
                                <span class="category-card-name align-center">Tất Cả Sản Phẩm</span>
                            </div>
                            <i class='bx bx-chevron-down category-icon subcat-icon'></i> 
                        </div>
                        <ul class="category-main-subcat">
                            <li class="subcat-item">
                                <a class="subcat-link">Đèn LED trồng cây</a>
                            </li>
                            <li class="subcat-item">
                                <a class="subcat-link">Hạt giống rau củ quả</a>
                            </li>
                            <li class="subcat-item">
                                <a class="subcat-link">Phân bón dinh dưỡng thủy canh</a>
                            </li>
                            <li class="subcat-item">
                                <a class="subcat-link">Hệ thống trồng công nghệ cao</a>
                            </li>
                            <li class="subcat-item">
                                <a class="subcat-link">Sản phẩm khác</a>
                            </li>
                        </ul>
                    </li>
                    <li 
                        class="category-card align-left"
                    >
                        <i class='bx bx-seal category-icon'></i> 
                        <span class="category-card-name align-center">Hàng Mới Về</span>
                    </li>
                    <li 
                        class="category-card align-left"
                    >
                        <i class='bx bx-star category-icon'></i> 
                        <span class="category-card-name align-center">Bán Chạy</span>
                    </li>
                    <li 
                        class="category-card align-left"
                    >
                        <i class='bx bx-discount category-icon'></i> 
                        <span class="category-card-name align-center">Khuyến Mãi</span>
                    </li>
                </ul>
            </div>
            <div class="section-filter">
                <div class="filter-title align-center">LỌC SẢN PHẨM</div>
                <form action="/products/filter" method="POST" id="filter-form">
                    <div class="filter-price">
                        <h4 class="filter-field">Khoảng giá</h4>
                        <hr style="width: 100%;"/>
                        <label for="priceLevel_1" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_1"
                                value="priceLevel_1"
                                class="filter-input"
                            />
                            <span class="filter-value">Dưới 250,000đ</span>
                        </label>
                        <label for="priceLevel_2" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_2"
                                value="priceLevel_2"
                                class="filter-input"
                            />
                            <span class="filter-value">Từ 250,000đ đến 1,000,000đ</span>
                        </label>
                        <label for="priceLevel_3" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_3"
                                value="priceLevel_3"
                                class="filter-input"
                            />
                            <span class="filter-value">Từ 1,000,000đ đến 2,500,000đ</span>
                        </label>
                        <label for="priceLevel_4" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_4"
                                value="priceLevel_4"
                                class="filter-input"
                            />
                            <span class="filter-value">Trên 2,500,000đ</span>
                        </label>
                    </div>
                    <div class="filter-stock">
                        <h4 class="filter-field">Tình trạng hàng</h4>
                        <hr style="width: 100%;" />
                        <label for="inStock" class="filter-label align-left">
                            <input 
                                type="checkbox"
                                name="inStock"
                                value=""
                                id="inStock"
                                class="filter-input"
                            />
                            <span class="filter-value">Còn hàng</span>
                        </label>
                    </div>
                    <div class="filter-submit">
                        <hr style="width: 100%;" />
                        <button type="submit" class="filter-submit-btn">
                            Lọc sản phẩm
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="section-products">
            <div class="section-search">
                <div class="category-label align-left">
                    <h4>Tất Cả Sản Phẩm</h4>
                </div>
                <div class="search-bar align-right">
                    <label for="searchTerm" class="search-label align-left">
                        <input 
                            type="text"
                            id="search-input"
                            placeholder="Nhập tên sản phẩm"
                            name="search-input"
                        />
                        <i class='bx bx-search search-icon align-center'></i> 
                    </label>
                </div>
                
                
            </div>
            <hr />
            <div class="products-container">
                {% if not products%}
                <div class="align-left">Không tìm thấy sản phẩm nào</div>
                {% else %}
                {% for product in products  %}
                <a class="product-link" href="/products/{{product.slug}}">
                    <div class="product-card">
                        <div class="product-card-thumbnail">
                            {% if product.image_url != "" %}
                                <img class="product-card-image" src="{{product.image_url}}" alt="">
                            {% else %}
                                <img class="product-card-image" src="{% static 'images/product_placeholder.jpg' %}" alt="">
                            {% endif %}
                            
                        </div>
                        <div class="product-card-info">
                            <div class="product-card-name">
                                {{product.name}}
                            </div>
                            <div class="product-card-more">
                                <div class="product-card-price align-right">
                                    <div class="product-card-orgPrice align-right">
                                        500,000đ
                                    </div>
                                    <div class="product-card-salePrice align-right">
                                        420,000
                                    </div>
                                </div>
                                
                            </div>
                            <div class="product-card-action">
                                <button 
                                    type="button"
                                    class="action-btn cart-btn"
                                >
                                    Thêm vào giỏ
                                </button>
                                <button 
                                    type="button"
                                    class="action-btn buy-btn"
                                >
                                    Mua ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/product/product_list.js' %}?v={{ timestamp }}" type="module"></script>
{% endblock script %}
