{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/product/product_list.css' %}?v={{ timestamp }}">
{% endblock %}
{% block title %}Sản Phẩm{% endblock %}
{% block content %} 
<main id="product-page">
    <div class="section-title">
        <img class="page-image" src="{% static 'images/products_intro.jpg' %}?v={{ timestamp }}"/>
        <h2 class="page-title">{% trans "SẢN PHẨM & GIẢI PHÁP" %}</h2>
    </div>
    

    <div class="section-content">
        <div class="section-options">
            <div class="section-categories">
                <div class="categories-title align-center">{% trans "DANH MỤC SẢN PHẨM" %}</div>
                <ul class="categories-container">
                    {% if categories %}
                        {% for category in categories %}
                        <li 
                            {% if category.slug == selected_category.slug %}
                            class="category-card category-card-active align-left"
                            {% else %}
                            class="category-card align-left"
                            {% endif %}
                            
                        >
                            <a class="category-card-link" href="/products?category={{category.slug}}">
                                <span class="category-card-name align-center">{{category.name}}</span>
                            </a>
                            
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="section-filter">
                <div class="filter-title align-center">{% trans "LỌC SẢN PHẨM" %}</div>
                <form action="/products/filter" method="POST" id="filter-form">
                    <div class="filter-price">
                        <h4 class="filter-field">{% trans "Khoảng giá" %}</h4>
                        <hr style="width: 100%;"/>
                        <label for="priceLevel_1" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_1"
                                value="priceLevel_1"
                                class="filter-input"
                            />
                            <span class="filter-value">{% trans "Dưới 250,000VND" %}</span>
                        </label>
                        <label for="priceLevel_2" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_2"
                                value="priceLevel_2"
                                class="filter-input"
                            />
                            <span class="filter-value">{% trans "Từ 250,000VND đến 1,000,000VND" %}</span>
                        </label>
                        <label for="priceLevel_3" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_3"
                                value="priceLevel_3"
                                class="filter-input"
                            />
                            <span class="filter-value">{% trans "Từ 1,000,000VND đến 2,500,000VND" %}</span>
                        </label>
                        <label for="priceLevel_4" class="filter-label align-left">
                            <input
                                type="radio"
                                name="priceLevel"
                                id="priceLevel_4"
                                value="priceLevel_4"
                                class="filter-input"
                            />
                            <span class="filter-value">{% trans "Trên 2,500,000VND" %}</span>
                        </label>
                    </div>
                    <div class="filter-stock">
                        <h4 class="filter-field">{% trans "Tình trạng hàng" %}</h4>
                        <hr style="width: 100%;" />
                        <label for="inStock" class="filter-label align-left">
                            <input 
                                type="checkbox"
                                name="inStock"
                                value=""
                                id="inStock"
                                class="filter-input"
                            />
                            <span class="filter-value">{% trans "Còn hàng" %}</span>
                        </label>
                    </div>
                    <div class="filter-submit">
                        <hr style="width: 100%;" />
                        <button type="submit" class="filter-submit-btn">
                            {% trans "Lọc sản phẩm" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="section-products">
            <div class="section-search">
                <div class="category-label align-left">
                    <h4>{{selected_category.name}}</h4>
                </div>
                
                
            </div>
            <hr />
            <div class="products-container">
                {% if not products%}
                <div class="align-left">{% trans "Không tìm thấy sản phẩm nào" %}</div>
                {% else %}
                {% for product in products  %}
                <a class="product-link" href="/products/{{product.slug}}">
                    <div class="product-card" data-index="{{product.slug}}_{{product.id}}">
                        <div class="product-card-thumbnail">
                            {% if product.image_url != "" %}
                                <img class="product-card-image" src="{{product.image_url}}" alt="">
                            {% else %}
                                <img class="product-card-image" src="{% static 'images/product_placeholder.jpg' %}" alt="">
                            {% endif %}
                            
                        </div>
                        <div class="product-card-info">
                            <div class="product-card-name">
                                {{product.name}}
                            </div>
                            <div class="product-card-more">
                                <div class="product-card-price align-right">
                                    {% if product.org_price != "0"  %}
                                        {% if product.sale_price == "-1" %}
                                            <div class="product-card-salePrice align-right">{{product.org_price}}đ</div>
                                        {% else %}
                                            <div class="product-card-orgPrice align-right">{{product.org_price}}đ</div>
                                            <div class="product-card-salePrice align-right">{{product.sale_price}}đ</div>
                                        {% endif %}
                                    {% elif product.sale_price != "-1" %}
                                        <div class="product-card-salePrice align-right">{{product.sale_price}}đ</div>
                                    {% else %}
                                    <div class="product-card-salePrice align-right">{% trans "Liên hệ để báo giá" %}</div>
                                    {% endif %}
                                    
                                </div>
                                
                            </div>
                            <div class="product-card-action">
                                
                                <button 
                                    type="button"
                                    class="action-btn cart-btn"
                                >
                                    {% trans "Thêm vào giỏ" %}
                                </button>
                                <button 
                                    type="button"
                                    class="action-btn buy-btn"
                                >
                                    {% trans "Mua ngay" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section-popup">
        <div class="popup-container">
            <div class="popup-header align-center">
                {% trans "Thông báo" %}
            </div>
            <div class="popup-content">
                <div class="popup-text align-center">
                    {% trans "Thêm vào giỏ hàng thành công!" %}
                </div>
                <div class="popup-action">
                    <button type="button" class="action-btn continue-btn align-center">
                        {% trans "Tiếp tục mua sắm" %}
                    </button>
                    <a href="/cart" class="action-btn cartNav-btn align-center">
                        {% trans "Xem giỏ hàng" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/product/product_list.js' %}?v={{ timestamp }}" type="module"></script>
{% endblock script %}
