{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.css' %}?v={{ timestamp }}">
{% endblock %}
{% block title %}
    {{ news_item.title }}
{% endblock %}
{% block content %}
    <section class="news-detail-container">
        <h1 class="news-heading">{{ news_item.title }}</h1>
        <div class="news-content">
            {{ news_item.content|safe }}
        </div>
    </section>
    <section class="related-news">
        <h1>{% trans "Bài viết liên quan" %}</h1>
        <div class="related-news-container">
            {% for news in most_viewed_news %}
            <a href="{% url 'news_detail' slug=news.slug %}" class="news-content-item-link">
                <div class="related-news-item">
                    <img src="{{ news.image_file.url }}" alt="{{ news.title }}">
                    <h3>{{ news.category.name }}</h3>
                    <h1>{{ news.title|striptags|truncatewords:4|safe }}</h1>
                    <p>{{ news.content|striptags|truncatewords:12|safe }}</p>
                    <p class="news-content-date">{{ news.published_at|date:"d/m/Y" }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}