{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}
{% block title %}
    Tin tức
{% endblock %}
{% block content %}
    <div class="news-img">
        <img src="/static/img/house2.jpg" alt="">
        <h1>TIN TỨC</h1>
    </div>
    <section id="news" class="news">
        <div class="news-header">
            <div class="news-header-item">
                <img src="/static/img/house3.jpg" alt="">
                <h3>Công nghệ</h3>
                <p class="news-header-date">03/06/2025 • Tin tức</p>
                <p class="news-header-content">Hệ thống thủy canh</p>
            </div>
            <div class="news-header-item">
                <img src="/static/img/house4.jpg" alt="">
                <h3>Thiết bị</h3>
                <p class="news-header-date">03/06/2025 • Tin tức</p>
                <p class="news-header-content">Khớp nối khung nhà màng</p>
            </div>
            <div class="news-header-item">
                <img src="/static/img/house1.jpg" alt="">
                <h3>Thiết bị</h3>
                <p class="news-header-date">03/06/2025 • Tin tức</p>
                <p class="news-header-content">Vật liệu nhà màng</p>
            </div>
        </div>
        <div class="news-content">
            <div class="news-content-left">
                <div class="news-content-item">
                    <img src="/static/img/house3.jpg" alt="">
                    <h3>Công nghệ</h3>
                    <h1>Hệ thống thủy canh</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis dolorem, illum minima iusto ab eius.</p>
                    <p class="news-content-date">03/06/2025</p>
                </div>
                <div class="news-content-item">
                    <img src="/static/img/house1.jpg" alt="">
                    <h3>Công nghệ</h3>
                    <h1>Hệ thống thủy canh</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quam, explicabo reprehenderit. Reiciendis placeat!</p>
                    <p class="news-content-date">03/06/2025</p>
                </div>
                <div class="news-content-item">
                    <img src="/static/img/house4.jpg" alt="">
                    <h3>Công nghệ</h3>
                    <h1>Hệ thống thủy canh</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Rerum quidem possimus ullam aperiam, dignissimos quae.</p>
                    <p class="news-content-date">03/06/2025</p>
                </div>
                <div class="news-content-item">
                    <img src="/static/img/house2.jpg" alt="">
                    <h3>Công nghệ</h3>
                    <h1>Hệ thống thủy canh</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Perferendis quibusdam delectus nam, dolor iure suscipit!</p>
                    <p class="news-content-date">03/06/2025</p>
                </div>
            </div>
            <div class="news-content-right">
                <div class="news-content-right1">
                    <h1>Bài viết được xem nhiều nhất</h1>
                    <div class="news-content-best">
                        <img src="/static/img/house2.jpg" alt="">
                        <div class="news-content-bests">
                            <h3>Khớp nối lắp rap nhà màng</h3>
                            <p>03/06/2025</p>
                        </div>
                    </div>
                    <div class="news-content-best">
                        <img src="/static/img/house2.jpg" alt="">
                        <div class="news-content-bests">
                            <h3>Khớp nối lắp rap nhà màng</h3>
                            <p>03/06/2025</p>
                        </div>
                    </div>
                    <div class="news-content-best">
                        <img src="/static/img/house2.jpg" alt="">
                        <div class="news-content-bests">
                            <h3>Khớp nối lắp rap nhà màng</h3>
                            <p>03/06/2025</p>
                        </div>
                    </div>
                    <div class="news-content-best">
                        <img src="/static/img/house2.jpg" alt="">
                        <div class="news-content-bests">
                            <h3>Khớp nối lắp rap nhà màng</h3>
                            <p>03/06/2025</p>
                        </div>
                    </div>
                </div>
                <div class="news-content-right2">
                    <h1>Danh mục tin tức</h1>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="thuycanh">
                        Công nghệ
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="nhogiot">
                        Thiết bị
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="congnghe">
                        Kỹ thuật
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="congnghe">
                        Kỹ thuật
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="congnghe">
                        Kỹ thuật
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="congnghe">
                        Hạt giống
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="project_type" value="congnghe">
                        Chăm sóc
                    </label>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}