{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}?v={{ timestamp }}">
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6839dc6784860b001ace80c6&product=inline-share-buttons&source=platform" async="async"></script>
{% endblock %}

{% block title %}
{% trans "Giỏ hàng của tôi" %}
{% endblock %}

{% block content %} 


<main id="cart-page">
    <div class="section-header">
        <div class="section-header-title align-center">
            <img class="page-image" src="{% static 'images/products_intro.jpg' %}?v={{ timestamp }}"/>
            <h2 class="page-title">{% trans "GIỎ HÀNG CỦA TÔI" %}</h2>
        </div>
        <div class="section-header-control align-left">
            <div class="section-header-return align-left">
                <a class="return-link align-left" href="/products/">
                    <i class='bx bx-arrow-left-stroke return-icon'></i> 
                    <span class="return-label">{% trans "Tiếp tục mua sắm" %}</span>
                </a>
            </div>
            
            <div class="section-header-clear align-right">
                <button 
                    type="button"
                    class="clear-btn"
                >
                    {% trans "Xóa giỏ hàng" %}
                </button>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="section-content-cart">
            <table class="cart-table">
                <thead>
                    <tr class="cart-table-head">
                        <th></th>
                        <th class="align-left table-head-product" >{% trans "Sản phẩm" %}</th>
                        <th class="align-right">{% trans "Đơn giá" %}</th>
                        <th class="align-center">{% trans "Số lượng" %}</th>
                        <th class="align-right">{% trans "Thành tiền" %}</th>
                    </tr>
                </thead>
                {% if cart %}
                <tbody>
                    {% for item in cart.cart_items %}
                    <tr class="cart-table-data" data-index="{{item.id}}">
                        <td class="remove-item-container align-center">
                            <i class='bx bx-x remove-icon'></i> 
                        </td>
                        <td class="align-center">
                            {% if item.image_url == ""%}
                            <img class="cart-item-image" src="{% static 'images/product_placeholder.png' %}" alt=""/>
                            {% else %}
                            <img class="cart-item-image" src="{{item.image_url}}" alt=""/>
                            {% endif %}
                            
                        </td>
                        <td class="cart-item-name">{{item.name}}</td>
                        <td class="cart-item-price align-right">{{item.price_text}}VND</td>
                        <td class="cart-item-quantity align-center">
                            <div class="item-quantity-controller">
                                <div class="item-minus-btn align-center">
                                    <i class='bx bx-minus minus-icon'></i> 
                                </div>
                                <div class="item-quantity-input align-center">
                                    <input
                                        type="number"
                                        id="itemQuantity_{{item.id}}"
                                        name="itemQuantity_{{item.id}}"
                                        placeholder="0"
                                        value="{{item.quantity_text}}"
                                        class="quantity-input"
                                    />
                                </div>
                                <div class="item-add-btn align-center">
                                    <i class='bx bx-plus plus-icon'></i> 
                                </div>
                            </div>
                            
                        </td>
                        <td class="cart-item-subtotal align-right">{{item.subtotal_text}}<span>VND</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                
            </table>
        </div>
        <div class="section-content-total">
            <div class="section-total-title align-center">
                {% trans "Tóm tắt đơn hàng" %}
            </div>
            <div class="section-total-process">
                <div class="total-row">
                    <div class="total-row-label align-left">{% trans "Số lượng" %}</div>
                    <div class="total-row-value align-right" id="total-quantity">{{cart.total_quantity}}</div>
                </div>
                <div class="total-row">
                    <div class="total-row-label align-left">{% trans "Tổng cộng" %}</div>
                    <div class="total-row-value align-right" id="total-temp">{{cart.total_temp}}<span>VND</span></div>
                </div>
                <div class="total-row">
                    <div class="total-row-label align-left">VAT</div>
                    <div class="total-row-value align-right" id="total-vat">{{cart.total_vat}}<span>VND</span></div>
                </div>
                <div class="total-row">
                    <div class="total-row-label align-left">{% trans "Giảm giá" %}</div>
                    <div class="total-row-value align-right" id="total-discount">{{cart.total_discount}}<span>VND</span></div>
                </div>
            </div>
            <div class="section-total-coupon">
                <form id="coupon-form" method="POST">
                    <label class="coupon-label align-left">
                        <input 
                            type="text"
                            id="coupon-input"
                            name="coupon-input"
                            placeholder="{% trans "Mã giảm giá" %}"
                        />
                        <button
                            type="submit"
                            class="coupon-submit"
                        >   
                            {% trans "Áp dụng mã" %}
                        </button>
                    </label>
                </form>
                
            </div>
            <div class="section-total-final">
                <div class="total-row">
                    <div class="total-row-label align-left">{% trans "Tổng tiền" %}</div>
                    <div class="total-row-value align-right" id="total-final">{{cart.total_final}}<span>VND</span></div>
                </div>
            </div>
        </div>
        <div></div>
        <div class="section-content-checkout align-right">
            <a class="forward-link align-right" href="/checkout/">
                <span class="forward-label">{% trans "Tiến hành thanh toán" %}</span>
                <i class='bx bx-arrow-right-stroke forward-icon'></i> 
            </a>
        </div>
    </div>
    <div class="delete-popup">
        <div class="delete-confirm">
            <div class="delete-confirm-header align-center">
                {% trans "Thông báo" %}
            </div>
            <div class="delete-confirm-content">
                <div class="delete-confirm-text align-center">
                    {% trans "Bạn có chắc chắn muốn xóa mặt hàng này không?" %}
                </div>
                <div class="delete-confirm-action">
                    <button type="button" class="action-btn confirm-btn">
                        {% trans "Xác nhận" %}
                    </button>
                    <button type="button" class="action-btn cancel-btn">
                        {% trans "Hủy bỏ" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/cart.js' %}?v={{ timestamp }}" type="module"></script>
{% endblock script %}

