{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/sunasia/home.css' %}?v={{ timestamp }}">
{% endblock %}
{% block title %}
    Sun Asia
{% endblock %}
{% block content %}
    <!-- Home section design -->
    <section id="home" class="home">
        <div class="home-img">
            <img src="/static/img/bg.jpg" alt="">
        </div>
        <div class="home-content">
            <h3>SUN ASIA</h3>
            <h1>{% trans "GIẢI PHÁP NHÀ KÍNH VƯƠN TẦM QUỐC TẾ" %}</h1>
            <p>{% trans "Các công trình hạ tầng mà SUN ASIA thực hiện đã góp phần rất quan trọng trong việc kết nối, tạo nền tảng cho phát triển kinh tế – xã hội và góp phần nâng cao chất lượng cuộc sống của người dân." %}</p>
            <button>
                <a href="tel:0981358442" title="Gọi ngay">
                {% trans "TƯ VẤN MIỄN PHÍ NGAY" %} <i class="fa-solid fa-phone"></i>
                </a>
            </button>
        </div>
    </section>
    <section id="about" class="about">
        <div class="about-content">
            <h1>{% trans "CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ PHÁT TRIỂN SUN ASIA" %}</h1>
            <p>{% trans "Công ty SUN ASIA được thành lập từ năm 2020.  Trên cơ sở năng lực hiện tại của Sun Asia, chúng tôi khẳng định có đủ khả năng tham gia và đáp ứng mọi dự án liên quan đến lĩnh vực dịch vụ nông nghiệp công nghệ cao, xây dựng hạ tầng và thi công trọn gói nhà dân.." %}</p>
            <p>{% trans "Dự án nhà kính đã được SUN ASIA thi công trên khắp cả Việt Nam. SUN ASIA đã xuất khẩu nhà màng đi Mỹ, Thái Lan. Với năng lực nhân lực, cơ sở vật chất, kinh nghiệm và năng lực tài chính, Công ty Cổ phần Đầu tư và Phát triển Sun Asia sẽ nghiêm túc thực hiện mọi cam kết với Quý khách hàng và sẽ luôn hướng tới sự hoàn thiện đảm bảo tiến độ, chất lượng và an toàn trong quá trình hợp tác." %}</p>
            <h2>{% trans "Dịch vụ hỗ trợ" %}</h2>
            <div class="about-service">
                <button>
                    <a href="tel:0981358442" title="Gọi ngay">
                        <p><i class="fa-solid fa-palette"></i></p>
                         {% trans "Thiết kế trang trại" %}
                    </a>
                </button>
                <button>
                    <a href="tel:0981358442" title="Gọi ngay">
                        <p><i class="fa-solid fa-screwdriver-wrench"></i></p>
                         {% trans "Thi công trọn gói" %}
                    </a>
                </button>
                <button>
                    <a href="/products/">
                        <p><i class="fa-solid fa-truck-fast"></i></p>
                          {% trans "Bán trang thiết bị" %}
                    </a>
                </button>
                <button>
                    <a href="tel:0981358442" title="Gọi ngay">
                        <p><i class="fa-solid fa-headset"></i></p>
                         {% trans "Tư vấn thiết kế" %}
                    </a>
                </button>
            </div>
        </div>
        <div class="about-img">
            <img src="/static/img/sunasia.jpg" alt="Sun Asia">
        </div>
    </section>
    <!-- Product for you -->
    <section id="product" class="product">
        <div class="product-content">
            <h3>{% trans "Sản phẩm dành cho bạn" %}</h3>
            <p>
                <a href="?sort=newest" class="{% if sort == 'newest' %}active{% endif %}">{% trans "Sản phẩm mới nhất" %}</a> | 
                <span><a href="?sort=bestseller" class="{% if sort == 'bestseller' %}active{% endif %}">{% trans "Sản phẩm bán chạy" %}</a></span>
            </p>
        </div>
        <div class="product-show">
            {% for product in products %}
                <a class="product-link" href="/products/{{product.slug}}">
                    <div class="product-item">
                        {% if product.image_url %}
                            <img src="{{ product.image_url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="/static/img/default.jpg" alt="default image">
                        {% endif %}
                        <h3>{{ product.name }}</h3>
                        <p class="price">
                            {% if product.org_price != "0"  %}
                                {% if product.sale_price == "-1" %}
                                    <p class="product-salePrice">{{product.org_price}}đ</p>
                                {% else %}
                                    <span class="product-orgPrice">{{product.org_price}}đ</span>
                                    <span class="product-salePrice">{{product.sale_price}}đ</span>
                                {% endif %}
                            {% elif product.sale_price != "-1" %}
                                <p class="product-salePrice">{{product.sale_price}}đ</p>
                            {% else %}
                                <p class="product-salePrice">{% trans "Liên hệ để báo giá" %}</p>
                            {% endif %}
                        </p>
                        <div class="product-item-end">
                            <button type="button" class="action-btn buy-btn">{% trans "Mua ngay" %}</button>
                            <p><i class="fa-solid fa-cart-plus"></i></p>
                            <p><i class="fa-regular fa-heart"></i></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    <!-- design project -->
    <section id="project" class="project">
        <div class="project-content">
            <h3>{% trans "Dự án nổi bật" %}</h3>
            <a href="/projects/">{% trans "Xem thêm" %} <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="project-show">
            {% for project in top_projects %}
                <div class="project-item">
                    {% if project.image_url %}
                        <img src="{{ project.image_url }}" alt="{{ project.name }}">
                    {% elif project.image_file %}
                        <img src="{{ project.image_file.url }}" alt="{{ project.name }}">
                    {% else %}
                        <img src="/static/img/default.jpg" alt="No Image">
                    {% endif %}
                    <h3>{{ project.name|striptags|truncatewords:6|safe }}</h3>
                    <p class="area">{{ project.area }} m²</p>
                    <p class="address">{{ project.city }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block script %}
<script>
    window.MyAppData = {
        popupSubmitBtn: `
        <label class="popup-quantity" for="productQuantity">
            <span class="popup-quantity-name">
                {% trans "Số lượng" %}
            </span>
            <div class="popup-quantity-controller">
                <div class="popup-minus-btn align-center">
                    <i class='bx bx-minus minus-icon'></i> 
                </div>
                <div class="popup-quantity-input align-center">
                    <input
                        type="number"
                        id="productQuantity"
                        name="productQuantity"
                        placeholder="0"
                        value="1"
                        class="quantity-input"
                    />
                </div>
                <div class="popup-add-btn align-center">
                    <i class='bx bx-plus plus-icon'></i> 
                </div>
            </div>
        </label>
        <div class="popup-submit">  
            <button type="submit" class="action-btn proceed-btn align-center">
                {% trans "Mua ngay" %}
            </button>
        </div>
        `,
        popupCartNotify: `
        <div class="popup-header align-center">
                {% trans "Thông báo" %}
            </div>
        <div class="popup-content">
            <div class="popup-text align-center">
                {% trans "Thêm vào giỏ hàng thành công!" %}
            </div>
            <div class="popup-action">
                <button type="button" class="action-btn continue-btn align-center">
                    {% trans "Tiếp tục mua sắm" %}
                </button>
                <a href="/cart" class="action-btn cartNav-btn align-center">
                    {% trans "Xem giỏ hàng" %}
                </button>
            </div>
        </div>`
    };
</script>
<script src="{% static 'js/product/product_list.js' %}?v={{ timestamp }}" type="module"></script>
{% endblock script %}