{% extends "base.html" %}
{% load static %}

{% block css %}
<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
<link rel="stylesheet" href="{% static 'css/order/order_success.css' %}?v={{ timestamp }}">
{% endblock %}

{% block title %}{% trans "Cảm ơn" %}{% endblock %}

{% block content %}
<section id="order-success-page">
    <div class="order-success-header">
    </div>
    <div class="order-success-message">
        <p>{% trans "Đơn hàng đã được xử lý thành công" %}.</p>
        <p>{% trans "Cảm ơn bạn đã đặt hàng" %}!</p>
    </div>
    <div class="description">
        {% trans "Chúng tôi sẽ xem xét đơn hàng của bạn và phản hồi lại bạn. Vào các ngày làm việc, thường là trong vòng 24 giờ. Vào thời điểm đó, bạn sẽ được thông báo qua email" %}.
    </div>
    <div class="description">
        <a href="#" class="contact">{% trans "Liên hệ với chúng tôi" %}</a> {% trans "nếu có thắc mắc" %}.
    </div>
    <div class="order-success-action">
        <a href="/products/" class="action-btn shop-btn align-center">
            {% trans "Tiếp tục mua sắm" %}
        </a>
        <a href="/order/{{order_uuid}}" class="action-btn order-btn align-center">
            {% trans "Xem đơn hàng" %}
        </a>
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock script %}
