section {
    min-height: 100vh;
}

#order-success-page{
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-color);
}

.order-success-header {
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.order-success-header:before {
    content: '✔';
    font-size: 36px;
    color: white;
}

.order-success-message {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.description {
    text-align: center;
    width: 80vh;
    font-size: 1.5rem;
    color: var(--bg-color-opp);
    margin-bottom: 15px;
}

.highlight {
    font-weight: bold;
    color: var(--text-color);
}

.contact {
    color: var(--sd-text-color);
    text-decoration: none;
}

.contact:hover {
    text-decoration: underline;
}

.order-success-action {
    display: flex;
    gap: 2rem;
}

.order-success-action a {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--sd-text-color);
    color: var(--white-color);
    border-radius: .5rem;
    transition: .5s ease;
}

.order-success-action a:hover {
    box-shadow: 0 0 5px 0 var(--sd-text-color);
}